<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/faviconASCENSE.png"
      type="image/x-icon"
    />
    <title>ASCENSE | EXAMENES</title>
    <link rel="stylesheet" href="/css/lista-examenes.css" />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/6788e71a64.js"
      crossorigin="anonymous"
    ></script>
    <script src="/JS/theme.js"></script>
  </head>
  <body class="">
    <header>
      <section>
        <a href="/" class="logo">ASCENSE</a>
        <button class="menu"><i class="fa-solid fa-bars"></i></button>
      </section>

      <nav class="nav-content hidden-menu">
        <ul class="nav-bar">
          <li><a class="nav-item" href="/examenes">Examenes</a></li>
          <li><a class="nav-item" href="/comunidad">Comunidad</a></li>
          <li><a class="nav-item" href="/recursos">Recursos</a></li>
        </ul>
      </nav>
    </header>
    <main class="container active">
      <a class="recurso" href="">
        <img
          class="recurso-portada"
          src="/images/ascense.png"
          alt="Imagen de recurso"
        />
        <div class="recurso-informacion">
          <img
            src="/images/manuel.png"
            alt="Imagen de usuario"
            class="recurso-usuario"
          />
          <div class="recurso-info-usuario">
            <h3 class="recurso-titulo">IA GEMINI</h3>
            <p class="recurso-info-vistas">
              <i class="fa-solid fa-eye"></i> 1000k
            </p>
          </div>
        </div>
      </a>
    </main>

    <footer>
      <!-- Seccion uno -->
      <section class="section-1">
        <h1>ASCENSE</h1>
        <p>
          Entra a nuestro blog para encontrar mas informacion sobre como
          trabajamos. Puedes encontrar informacion sobre como unirte a nuestro
          proyecto sin fines de lucro.
        </p>
        <a href="/informacion"
          >Mas informacion <i class="fa-solid fa-arrow-right"></i
        ></a>
      </section>
      <!-- Seccion de links -->
      <section class="section-2">
        <!-- Divicion contacto -->
        <article>
          <h3>Contacto</h3>
          <ul class="section-links">
            <li><i class="fa-solid fa-phone"></i> 81 30530525</li>
            <li>
              <i class="fa-solid fa-location-dot"></i> UANL Nº17, Cienega de
              flores Real del sol
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i> ascense.studio@gmail.com
            </li>
          </ul>
        </article>
        <!-- Divicion navegacion -->
        <article>
          <h3>Navegacion</h3>
          <ul class="section-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/examenes">Examenes</a></li>
            <li><a href="/informacion">Mas Informacion</a></li>
            <li><a href="/comunidad">Comunidad</a></li>
          </ul>
        </article>
        <!-- Divicion Informacion del proyecto -->
        <article>
          <h3>Acerca de</h3>
          <ul class="section-links">
            <li><a href="/tecnologias">Tecnologias</a></li>
            <li><a href="/experiencia">Experiencia</a></li>
            <li><a href="/equipo">Equipo</a></li>
          </ul>
        </article>
        <!-- Divicion discover -->
        <article>
          <h3>Descubre</h3>
          <ul class="section-links">
            <li><a href="/examenes">Examenes</a></li>
            <li><a href="/comunidad">Comunidad</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </article>
        <!-- Divicion Seguirnos -->
        <article>
          <h3>Siguenos</h3>
          <ul class="section-links">
            <li><a href="">Facebook</a></li>
            <li><a href="">instagram</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">X</a></li>
          </ul>
        </article>
      </section>

      <!-- Seccion copyright -->
      <section class="section-copyright">
        <p>© 2024 ASCENSE. Todos los derechos reservados.</p>
        <!-- Terminos condiciones y politicas -->
        <article>
          <a href="/terminos">Terminos y condiciones</a>
          <a href="/politicas">Politicas de privacidad</a>
        </article>
      </section>
    </footer>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/JS/lista-examenes.js"></script>
    <script src="/JS/menu.js"></script>
  </body>
</html>
